
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> PhpStorm ###
.idea
###< PhpStorm ###

###> MacOs ###
.DS_Store
###< MacOs ###

###> Docker ###
/docker/development/mysql/data
/docker/development/nginx/logs
###< Docker ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> squizlabs/php_codesniffer ###
/.phpcs-cache
/phpcs.xml
###< squizlabs/php_codesniffer ###

###> rabbitmq ###
/rabbitmq/
###< rabbitmq ###


###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###
.aider*

###> phpstan/phpstan ###
phpstan.neon
###< phpstan/phpstan ###
